
@model IEnumerable<CrudWebApi.Models.NgpContractor>



<div class="table-responsive bs-example widget-shadow">
    <h2 style="color: black; font-weight: 800; BACKGROUND-COLOR: #EAEAEA; HEIGHT: 50px;">DISPLAY Contractor TABLE</h2>
    <br />
    <div style="padding: 0 2.5%">
        @*<button class="btn btn-default" style="display: inline; float: left; background-color: #5F67BE; font-weight: 800; color:white; " onclick="location.href = '@Url.Action("Create", "Phonebooks")' ">
            ADD PHONEBOOK   <span class="fa fa-phone-square" style="color:black">

                <br />


            </span>
        </button>*@
    </div>
    <br />
    <br />
    <br />
    <table class="table table-hover" id="draftList">


        <thead>
            <tr>
                <th style="font-family:Cambria; display:none;">ID </th>
                <th style="background-color: #EAEAEA; color: #6F6F6F; ">ContractorName<br /> <i class="fa fa-phone-square"> </i></th>
                <th style="background-color: #EAEAEA; color: #6F6F6F; ">AreaContracted<br /><i class="fa fa-user"> </i> </th>
                <th style="background-color: #EAEAEA; color: #6F6F6F; ">AddressMunicipality<br /><i class="fa fa-user"> </i> </th>
                <th style="background-color: #EAEAEA; color: #6F6F6F; ">Edit<br /><i class="fa fa-floppy-o"> </i> </th>

            </tr>
        </thead>
        <tbody class="phonebooklist">
            @foreach (var contractor in Model)
            {
                <tr>
                    <td style="display:none">@contractor.Id</td>
                    <td>@contractor.ContractorName</td>
                    <td>@contractor.AreaContracted</td>
                    <td>@contractor.AddressMunicipality</td>
                
                 
                    <td>
                        <button class="btn btn-default" style=" background-color: #5F67BE; font-weight: 800; color: white; border-radius: 20px; " onclick="location.href = '@Url.Action("Edit", "Contractor", new {id = contractor.Id})' ">EDIT   <span class="fa fa-pencil-square" style="color:black;">  </span></button>


                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>









